---
import Container from '@/components/Container.astro';
import Title from '@/components/Title.astro';
import { SITE } from '@/constants';
import Layout from '@/layouts/Layout.astro';
---

<Layout title='500 Error' description={SITE.DESCRIPTION}>
  <Container>
    <div class='flex min-h-[80vh] flex-col items-center justify-center'>
      <Title>Code: 500, Mission Failed. <br />Good luck next time :)</Title>
    </div>
  </Container>
</Layout>
