---
import Container from '@/components/Container.astro';
import { SITE } from '@/constants';
import Layout from '@/layouts/Layout.astro';
import Image from 'astro/components/Image.astro';
---

<Layout title='Home' description={SITE.DESCRIPTION}>
  <Container>
    <div class='flex justify-center'>
      <div class='flex w-full flex-col items-center'>
        <div
          class='flex items-center justify-center overflow-hidden rounded-full'
        >
          <Image
            src='https://github.com/ajuniezeng.png'
            alt='Avatar'
            width={80}
            height={80}
          />
        </div>
      </div>
      <div class='w-full'>
        <p>Hello, I'm</p>
        Ajunie
      </div>
    </div>
  </Container>
</Layout>
