---
import Container from '@/components/Container.astro';
import { SITE } from '@/constants';
import Layout from '@/layouts/Layout.astro';
---

<Layout title='Home' description={SITE.DESCRIPTION}>
  <Container>
    <div
      class='font-text-serif flex items-baseline justify-items-start gap-2 text-2xl'
    >
      <h1>👋</h1>
      <div class='mt-2 mb-10 flex flex-col gap-2 font-bold'>
        <p>你好，</p>
        <p>
          我是 <span
            class='name text-3xl text-blue-500 italic underline decoration-amber-100 dark:text-amber-300 dark:decoration-blue-900'
            >Ajunie Zeng</span
          >。
        </p>
      </div>
    </div>
  </Container>
</Layout>

<style>
  .name {
    text-decoration-skip-ink: none;
    text-decoration-thickness: 0.6em;
    text-underline-offset: -0.35em;
  }
</style>
