---
import Container from '@/components/Container.astro';
import Layout from '@/layouts/Layout.astro';
import Link from '@/components/Link.astro';
import Article from '@/components/Article.astro';
---

<Layout title='主页'>
  <Container>
    <div
      class='font-text-serif flex items-baseline justify-items-start gap-2 text-2xl'
    >
      <h1>👋</h1>
      <div class='mt-2 mb-10 flex flex-col gap-2 font-bold'>
        <p>你好，</p>
        <p>
          我是 <span
            class='name text-3xl text-blue-500 italic underline decoration-amber-100 dark:text-amber-300 dark:decoration-blue-900'
            >Ajunie Zeng</span
          >。
        </p>
      </div>
    </div>

    <Article>
      <section>
        <h2>我是谁？</h2>
        <p>
          只是喜欢写代码的一个小男孩，比较开放。虽然现在仍在大学读软件工程，经验不是很足，但是喜欢折腾各种各样神奇的东西和玩意。发现啥有趣的东西，都可以给我分享，发<Link
            href='mailto:contact@ajunie.com'>邮件</Link
          >或者直接给我发消息都行，叫的上名字的平台基本都能找得到我（导航栏的链接不是全部平台，各位特务可以出动惹）。有游戏同好，可以在
          <Link
            href='https://steamcommunity.com/profiles/76561198819216883/'
            external={true}>Steam</Link
          > 上给我发好友申请，欢迎游戏搭子（至今还没有通关双人成行）！
        </p>
        <p>
          应该可以自称为 Web 开发吧，比较喜欢写 JavaScript/TypeScript 还有一点点
          Rust。Web
          编程是一个有趣的领域，长期目标会是成为一名全栈（全干）开发。而对于
          Rust，不仅对这门语言感兴趣，还对
          <Link href='https://bevy.org/' external={true}>Bevy</Link> 这个用 Rust
          写的游戏引擎有比较大的兴趣。
        </p>
      </section>
    </Article>
  </Container>
</Layout>

<style>
  .name {
    text-decoration-skip-ink: none;
    text-decoration-thickness: 0.6em;
    text-underline-offset: -0.35em;
  }
</style>
