---
import Container from './Container.astro';

const currentYear = new Date().getFullYear();
const yearString = currentYear === 2025 ? '2025' : `2025 - ${currentYear}`;
---

<footer class='py-4'>
  <Container>
    <div class='flex items-center justify-center'>
      <div class='text-primary/80 text-sm'>
        Copyright &copy; {yearString} Ajunie Zeng. All Rights Reserved.
      </div>
    </div>
  </Container>
</footer>
