---
import { cn } from '@/lib/utils';

interface Props {
  href: string;
  external?: boolean;
  subClass?: string;
}

const { href, external, subClass = '', ...rest } = Astro.props;
---

<a
  href={href}
  target={external ? '_blank' : '_self'}
  class={cn(
    'link transition-colors duration-300 ease-in-out break-words',
    subClass,
  )}
  {...rest}
>
  <slot />
</a>
