---
import { format } from 'date-fns';
interface Props {
  updated?: Date;
}

const { updated } = Astro.props;
const date = updated ? format(updated, 'yyyy-MM-dd') : '';
---

<h1 class='mt-2 mb-10 text-center text-3xl font-bold'>
  <slot />
  {
    updated ? (
      <div class='mt-4 text-sm font-normal'>
        Updated: <time datetime={date}>{date}</time>
      </div>
    ) : null
  }
</h1>
