---
import Container from '@/components/Container.astro';
import Layout from '@/layouts/Layout.astro';
import { render } from 'astro:content';
import Article from '@/components/Article.astro';
import Title from '@/components/Title.astro';
import { getPosts } from '@/lib/utils';

export async function getStaticPaths() {
  return (await getPosts('zh')).map((item) => {
    return { params: { id: item.id }, props: item };
  });
}

const post = Astro.props;
const id = Astro.params.id;

const { Content, headings } = await render(post);
---

<Layout title={post.data.title} description={post.data.description}>
  <Container>
    <Article>
      <Title modified={post.data.date}>{post.data.title}</Title>
      <Content />
    </Article>
  </Container>
</Layout>
